<form>
    <div class="form-group">
        <label for="powerCoef" class="control-label">Коэффициент мощности</label>
        <div>
            <input id="powerCoef" ng-model="model.PowerCoef" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="voltage" class="control-label">Номинальное напряжение</label>
        <div>
            <input id="voltage" ng-model="model.NominalVoltage" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="elements" class="control-label">Подключенные элементы</label>
        <input type="button" value="Добавить" id="addElement" class="btn btn-default form-control" ng-click="addElement()" />
        <table id="elements" ng-show="model.Elements.length">
            <thead>
                <tr>
                    <th>Активная мощность</th>
                    <th>Количество</th>
                    <th>Коэффициент использования</th>
                    <th>Cos(a)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="element in model.Elements">
                    <td>
                        <input type="text" ng-model="element.ActivePower" class="form-control" />
                    </td>
                    <td>
                        <input type="text" ng-model="element.Count" class="form-control"/>
                    </td>
                    <td>
                        <input type="text" ng-model="element.UsingCoefficient" class="form-control"/>
                    </td>
                    <td>
                        <input type="text" ng-model="element.Cos" class="form-control"/>
                    </td>
                    <td><button ng-click="removeElement(element)">Удалить</button></td>
                </tr>
            </tbody>
        </table>
        
    </div>

    <div class="form-group">
        <div>
            <input type="submit" value="Рассчитать" class="btn btn-default" ng-click="calc()" />
        </div>
    </div>

    <div class="form-group" ng-show="model.Amperage">
        <label for="amperage" class="control-label">Расчётный ток</label>
        <div>
            <div id="amperage">{{ model.Amperage | number:2}}</div>
        </div>
    </div>
</form>