@model ProtectionTools.WebUI.ViewModels.BusViewModel

@{
    ViewBag.Title = "Расчет тока потребления на шине";
}

<form asp-controller="App" asp-action="Index" method="post">
    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="PowerCoef"></label>
        <div>
            <input asp-for="PowerCoef" class="form-control"/>
            <span asp-validation-for="PowerCoef" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="NominalVoltage"></label>
        <div>
            <input asp-for="NominalVoltage" class="form-control"/>
            <span asp-validation-for="NominalVoltage" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Elements"></label>
        <div>
            <span asp-validation-for="Elements" class="text-danger"></span>
        </div>

        <div>
            @foreach (var elem in Model.Elements) {
                <label asp-for="@elem.ActivePower"></label>
                <div>
                    <input asp-for="@elem.ActivePower" class="form-control"/>
                    <span asp-validation-for="@elem.ActivePower" class="text-danger"></span>
                </div>
            }
            <input type="button" value="Добавить" id="addElement" class="btn btn-default"/>
        </div>
    </div>

    <div class="form-group">
        <div>
            <input type="submit" value="Рассчитать" class="btn btn-default"/>
        </div>
    </div>
    @if (true) {
        <div class="form-group">
            <label asp-for="Amperage"></label>
            <div>
                <div >@Model.Amperage</div>
                <span asp-validation-for="Amperage" class="text-danger"></span>
            </div>
        </div>
    }
</form>

@section Scripts {
    <script src="~/js/app.js"></script>
}
